.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-bottom: 1rem;
  width: 173px;
  height: 173px;
  border: none;
}

#avatar {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.edit-avatar {
  overflow: hidden;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  background: none;
  border: none;
  position: absolute;
  transform: translate(-41px, 90px);
}

.avatar:hover > .edit-avatar {
  opacity: 1;
}

.name {
  font-family: var(--font-roboto-regular);
  font-size: 39px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.name a {
  margin-left: 1rem;
}
