/*.card-section {
  background-color: var(--secondary);
  height: 920px;
  margin-top: 20rem;
  margin-bottom: 20rem;
  box-shadow: 0 3px 6px #00000029;
}*/

/*.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
