.dropdown_wrapper {
    position: relative;
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    max-width: 84%;
    margin-top: 30%;
    margin-left: 4%;
  }
  
  .dropdown_activator { 
    font-family: var(--font-roboto-regular);
    font-size: 30px;
    color: #707070;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;

    align-items: center;
    background-color: inherit;
    border: none;
    height: 100%;
    display: flex;
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    width: 100%;
  }
  
 /* .dropdown_activator:hover {
    border-bottom: 1px solid silver;
    border-image: linear-gradient(
        to right,
        transparent 20%,
        #1a1b1b,
        transparent 80%
      ) 30;
  }
*/
  .dropdown_triangle{
    margin-left: 1px;
  }
  
  .dropdown_item_list {
    background: white;
    display: none;
    margin: 0;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 5px;
    padding: 0;
  }
  
  .dropdown_item_list.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .item_list {
    list-style: none;
  }
  
  .item_list:last-child a {
    border-bottom: none;
  }
  
  .item_list a,
  .item_list a:link {
    display: flex;
    /* gap: 0.8rem; */
    color: #707070;
    font-family: var(--font-roboto-regular);
    font-size: 25px;
    text-decoration: none;
    padding: 0.8rem;
  
    transition: all 0.1s linear;
  }
  
  .item_list a:hover {
    background-color: var(--dark-slate);
    color: #FAFAFA;
    font-family: var(--font-roboto-regular);
  }
  