.login {
    display: flex;
    flex-direction: column;
    background: var(--primary);
}

.tabs {
    background: white;
    height: 84px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--primary);
    border-bottom-right-radius: 5px;
}

.tabs > li {
    flex-grow: 1;
    height: 100%;
    padding: 0;
    margin: 0;
}

.tabs > li > button{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-roboto-bold);
    font-size: 26px;
    background: #ffffff;
    color: var(--primary);
    border-bottom-right-radius: 5px;
    border: none;

}

.tabs > li > button:hover {
    background: var(--primary) !important;
    color: #ffffff;
    opacity: 0.8;
}

.current button {
    color: white !important;
    background: var(--primary) !important;
}

.content {
    height: 100%;
    padding: 0;
    animation: inRight 2s;
}

@keyframes inRight {
    0% {
        opacity: 0;
        /* transform: translateX(60px); */
    }

    100% {
        opacity: 1;
        /* transform: translateX(0px); */
    }
}
